.skillsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 1.5rem;
}

@media screen and (min-width: 640px) {
  .skillsGrid {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .skillsGrid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}